body 
{
  background-image: linear-gradient(to bottom, #b7e8f7,rgb(53 179 255));
  color: white;
  font-family: 'ubuntu' ;
}
/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.link
{
  margin-top: 60px;
  border-radius: 25px;
  /*background-color: #f2d2f7 ;*/
  border: 15px solid transparent;
} 
.topic
{
  margin: 10px;
  color: black;
}
.icoo
{
  border: 10px solid transparent;
  width: 15%;
  max-width: 120px;
}
.a
{
  color: transparent;
  border: 60px;
  width: 20%;
}
.abtme
{
  background-color: black;
  border: 2px ;
  border-radius: 25px;
  height :80%;
}
.content
{
  border-left: 10px solid transparent;
  color: black;
  width: 100%; 
  max-width: 320px;
}
.child1 {
  display: inline-block;
  margin: 10px;
  width: auto;
}
.project {
  width: 45%; /* Adjust as needed */
  padding: 2%;
  text-align: left;
}
.projectchild{
  display: flex;
  justify-content: space-between;
}
.child2 {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
.imgg
{
  border-radius: 25px;
}
.contact
{
  margin: auto;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
