body {
    background-color:black;
    color:white;
}
.portfolio{
    color:#7703F0;
}
.achieve{
    color:#7703F0;
}
.foot{
    background-color:green;
}
.head{
    background-color:blue;
    font-size:34px;
}
