body 
{
  background-color : lightblue;
  color: white;
}
.link
{
  border: 2px solid grey;
  border-radius: 25px;
  background-color: black;
}
.icoo
{
  border-left: 30px solid transparent ;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.a
{
  color: transparent;
}
