body 
{
  background-color : black;
  color: crimson;
  font-family: 'ubuntu' ;
}
.navbar{
   background-color: black;
   font-size: 48;
   width: 100%;
}
.navbarlogo
{
  font-family: 'sans-serif;';
   margin: 20px;
   font-size: 40px;
}
.link
{
  margin-top: 20px;
  border-radius: 25px;
  background-color: #f2d2f7 ;
  border: 15px solid transparent;
} 
.topic
{
  margin: 10px;
}
.icoo
{
  border: 8px solid transparent;
  width: 22%;
}
.a
{
  color: transparent;
  border: 60px;
  width: 20%;
}
.abtme
{
  background-color: black;
  border: 2px ;
  border-radius: 25px;
  height :80%;
}
.content
{
  border-left: 10px solid transparent;
  color: black;
  width: auto; 
}
.child1 {
  display: inline-block;
  margin: 10px;
  width: auto;
}
.child2 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
.imgg
{
  border-radius: 25px;
}
