body 
{
  background-color : black;
  color: white;
  font-family: 'ubuntu' ;
}
.navbar{
   top: 0;
   left: 0;
   background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(179, 56, 209));
   position: fixed;
   width: 100%;
}
.navbarlogo
{
  font-family: 'sans-serif;';
   margin: 20px;
   font-size: 40px;
}
.link
{
  margin-top: 60px;
  border-radius: 25px;
  /*background-color: #f2d2f7 ;*/
  border: 15px solid transparent;
} 
.topic
{
  margin: 10px;
}
.icoo
{
  border: 8px solid transparent;
  width: 22%;
  max-width: 120px;
}
.a
{
  color: transparent;
  border: 60px;
  width: 20%;
}
.abtme
{
  background-color: black;
  border: 2px ;
  border-radius: 25px;
  height :80%;
}
.content
{
  border-left: 10px solid transparent;
  color: white;
  width: auto; 
}
.child1 {
  display: inline-block;
  margin: 10px;
  width: auto;
}
.child2 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
.imgg
{
  border-radius: 25px;
}